/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */

/* ヘッダーCSS */
header {
  width: 100%;
  height: 80px;
}
/* ヘッダーCSS */

/* コンテンツCSS */
.awaji-photo {
  width: 100vw;
  height: 100vh;
}

.bridge {
  /* display: flex; */
}

.bridge-title {
  width: 100vw;
  font-size: 22px;
}

.awaji-bridge {
  width: 800px;
  height: 500px;
}

.explain {
  width: calc(100vw - 800px);
}

/* コンテンツCSS */

/* フッターCSS */
footer {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: center;
}
/* フッターCSS */